/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Poppins;
    src: url('./assets/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('./assets/Poppins/Poppins-Bold.ttf');
}

* {
    font-family: 'Poppins';
}

body {
    margin: 0;
    background: #0e1017;
    color: white;
}