header {
    display: flex;
    justify-content: space-between;
    background: transparent;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
    background: #0e1017;
    color: white;
}

.navbar-item {
    padding: 0.625rem;
}

footer {
    position: fixed;
    bottom: 0;
    background: #0e1017;
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
}

main {
}

.profile-parent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-img {
    width: 31.25rem;
    object-fit: cover;
}

.social-icon {
    display: flex;
    justify-content: center;
    margin: 2.625rem;
}

.social-icon > a {
    margin: 1.25rem;
}

.social-icon > a:hover {
    cursor: pointer;
}

ul.navbar-buttons {
    list-style: none;
    display: flex;
}

a.navbar-links {
    text-decoration: none;
    color: white;
    margin: 0.625rem;
}

.profile-parent {
    margin: 0 3.125rem;
}

h1.title {
    font-family: 'Poppins-Bold';
}

h3.subtitle {
    width: 31.25rem;
}

.navbar-buttons {
    margin: inherit;
}

@media only screen and (max-width: 768px) {
    .profile-parent {
        flex-direction: column-reverse;
    }

    h3.subtitle {
        width: 100%;
    }
}