<header>
  <div class="navbar-item">Logo</div>
  <div class="navbar-item">
    <ul class="navbar-buttons">
      <li><a class="navbar-links" href="/home">Home</a></li>
      <li><a class="navbar-links" href="/about">About</a></li>
      <li><a class="navbar-links" href="/blogs">Blogs</a></li>
    </ul>
  </div>
</header>

<main>
  <div class="profile-parent">
    <div class="personal-info">
      <h1 class="title">Manish Pamnani</h1>
      <h3 class="subtitle">
        A software enthusiast, who build softwares and help people to understand
        how software works, build, helps.
      </h3>
    </div>
    <div class="profile-image">
      <img src="../../assets/profile.png" alt="Profile" class="profile-img" />
    </div>
  </div>

  <div class="social-icon">
    <a>
      <img src="../../assets/facebook.png" alt="facebook" />
    </a>
    <a>
      <img src="../../assets/instagram-32x32.png" alt="instagram" />
    </a>
    <a>
      <img src="../../assets/linkedin.png" alt="linkedin" />
    </a>
    <a>
      <img src="../../assets/twitter.png" alt="twitter" />
    </a>
  </div>
</main>

<footer>
  <p>Copyright &copy; 2000-2020</p>
</footer>
